<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta name="google-signin-client_id" content="1016070486190-cnlpostiqso9fjoscifbdro2mb7i0u1d.apps.googleusercontent.com">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>EPantry</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript" src="static/js/main.js"></script>
	{% block extraScripts %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>