<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta name="google-signin-client_id" content="1016070486190-cnlpostiqso9fjoscifbdro2mb7i0u1d.apps.googleusercontent.com">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>EPantry</title>
</head>
<body>
<div class="center">
{% block content %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>